/*CONTENT*/

.subBox{
	position: relative;
	padding-top: 10px;
}

.subBox_img:hover{
/*transition: box-shadow 0.3s ease-in-out;
-webkit-box-shadow: -1px 1px 12px 1px rgba(0,0,0,0.64);
-moz-box-shadow: -1px 1px 12px 1px rgba(0,0,0,0.64);
box-shadow: -1px 1px 12px 1px rgba(0,0,0,0.64);*/
}

.subBox_img{
	width: 100%;
}

/*CONTENT_CaptionBox*/
.subBox_captionbox{
	position: absolute;
	margin-bottom: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjU3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzBmMGYwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzEzMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.57) 0%, rgba(15,15,15,1) 78%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.57)), color-stop(78%,rgba(15,15,15,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.57) 0%,rgba(15,15,15,1) 78%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.57) 0%,rgba(15,15,15,1) 78%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.57) 0%,rgba(15,15,15,1) 78%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.57) 0%,rgba(15,15,15,1) 78%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91000000', endColorstr='#131313',GradientType=0 ); /* IE6-8 */
	transition: height 0.3s ease-in-out;
}

.subBox_text{
	position: absolute;
	padding-top: 2%;
	padding-left: 5%;
	font-size: 1.1em;
	color: #fff;/*white*/
}


.subBox:hover .subBox_captionbox{
	height: 70px;
	transition: height 0.3s ease-in-out;
}

